---
import TimeCounter from "../components/TimeCounter.astro";
import Navbar from "../components/Navbar.astro";
import { EVENT_NAME, EVENT_DATE } from "../config";
import LeftAd from "../components/LeftAd.astro";
import RightAd from "../components/RightAd.astro";
import "@fontsource/outfit/300.css";
import "@fontsource/outfit/700.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Days since a half-life 3 game release counter"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Days Since Counter</title>
  </head>
  <body>
    <Navbar />
    <main>
      <LeftAd />
      <TimeCounter eventName={EVENT_NAME} eventDate={EVENT_DATE} />
      <RightAd />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --hl-bg: #0a0600;
    --hl-primary: #d47800;
    --hl-secondary: #5e3a1a;
    --hl-accent: #e1e1e1;
    --hl-glow: #ffb400;
    --hl-text-dim: #a0a0a0;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Outfit", system-ui, sans-serif;
  }

  body {
    background: var(--hl-bg);
    background-image:
      linear-gradient(rgba(10, 6, 0, 0.75), rgba(10, 6, 0, 0.75)),
      url("/lambda-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--hl-accent);
    position: relative;
    overflow: hidden;
  }

  body::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:
      linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%),
      linear-gradient(
        90deg,
        rgba(212, 120, 0, 0.02),
        rgba(0, 212, 120, 0.01),
        rgba(0, 120, 212, 0.02)
      );
    z-index: 100;
    background-size:
      100% 4px,
      4px 100%;
    pointer-events: none;
    opacity: 0.4;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  body.ads-hidden .left-ad,
  body.ads-hidden .right--ad {
    display: none;
  }
</style>
